@using Newtonsoft.Json
@using Sketch.Web.Serialization
@model  Sketch.Web.Models.DrawingSessionPhotoViewModel

<header ng-app ng-controller='CounterCtrl'>
    <h1>Stock photo @(Model.NumberOfElapsedPhotos + 1)/@Model.TotalNumberOfPhotos</h1>
    <span>
        <span>{{minutes}}</span>:<span>{{seconds}}</span>
    </span>
</header>
<div class='row'>
    <div class='span12'>
        @using (Html.BeginForm("Replace", "Home", new { id= Model.DrawingSessionId, index = Model.IndexOfPhoto } ))
        {
            <button type="submit" class='btn'>Replace</button>
        }
        <div class="img-container"></div>
    </div>
</div>
@section scripts
{
    @{
        var settings = new JsonSerializerSettings
                           {
                               ContractResolver = new DrawingSessionContractResolver()
                           };
        settings.Converters.Add(new TimeSpanJsonConverter());
    }
    <script>

        resizePhoto();
        $(window).on('resize', resizePhoto);


        function resizePhoto() {
            $('.img-container').height($(window).height() - $('header').height());
        }

        function CounterCtrl($scope) {
            $scope.minutes = 0;
            $scope.seconds = '00';

            showNextPhoto();

            function showNextPhoto() {

                $('.img-container').css({
                    backgroundImage: 'url(@Model.ImageUrl)',
                });
                var timeLeft = @Model.DurationInMilliseconds;
                var currentTime = new Date().getTime();
                clearInterval($scope.timer);
                $scope.timer = setInterval(function() {
                    $scope.$apply(function() {
                        var previousTime = currentTime;
                        currentTime = new Date().getTime();
                        timeLeft = timeLeft - currentTime + previousTime;
                        $scope.minutes = Math.floor(timeLeft / 1000 / 60);
                        var s = Math.floor(timeLeft / 1000 - $scope.minutes * 60);
                        if ((s + '').length <= 1) s = '0' + s;
                        $scope.seconds = s;
                    });
                }, 100);

                setTimeout(function() {
                    window.location.href = '@Model.NextPageUrl';
                }, @Model.DurationInMilliseconds);
            }
        }
    </script>
}