@using Newtonsoft.Json
@using Sketch.Web.Serialization
@model  Sketch.Web.Models.DrawingSessionPhotoViewModel
<div  ng-init='nextPageUrl = "@Model.NextPageUrl"' ng-controller='PhotoCtrl'>
    <header>
    </header>
    <div class='row'>
        <div class='col-md-12'>
            
            <div class="img-container" style='background: url(@Model.ImageUrl) 50% 50% no-repeat; background-size: contain'></div>
        </div>
    </div>
</div>
@section footer
{
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    @using (Html.BeginForm("Replace", "Home", new { id= Model.DrawingSessionId, index = Model.IndexOfPhoto } ))
                    {
                        <button type="submit" class='btn btn-default'>Replace</button>
                    }
                </div>
                <div class="col-md-1">
                    <p ng-init='timeLeft = @Model.DurationInMilliseconds' ng-controller='TimerCtrl'>
                        <span>{{minutes}}</span>:<span>{{seconds}}</span>
                    </p>
                </div>
                
                <div class="col-md-2">
                    <p>Photo @(Model.NumberOfElapsedPhotos + 1)/@Model.TotalNumberOfPhotos</p>
                </div>
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PercentageOfCompletion%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
@section scripts
{
    @{
        var settings = new JsonSerializerSettings
                           {
                               ContractResolver = new DrawingSessionContractResolver()
                           };
        settings.Converters.Add(new TimeSpanJsonConverter());
    }
    <script>

        resizePhoto();
        $(window).on('resize', resizePhoto);


        function resizePhoto() {
            $('.img-container').height($(window).height() - $('header').height() - $('footer').height());
        }

        function PhotoCtrl($scope) {
            $scope.nextPageUrl = '';

            $scope.$on('my:timerElapsed', function () {
                window.location.href = $scope.nextPageUrl;
            });

        }

        function TimerCtrl($scope, $rootScope) {
            var spaceBarHitCount = 0;
            
            $scope.timeLeft = 0;

            $scope.$on('my:keypress', function(event, keyboardEvent) {
                if (keyboardEvent.charCode === 32 /*space bar*/) {
                    event.preventDefault();
                    if (++spaceBarHitCount % 2 == 0) {
                        startTimer();
                    } else {
                        stopTimer();
                    }
                }
            });

            startTimer();
            
            function startTimer() {
                var currentTime = new Date().getTime();
                $scope.timer = setInterval(function () {
                    $scope.$apply(function () {
                        var previousTime = currentTime;
                        currentTime = new Date().getTime();
                        $scope.timeLeft = Math.max($scope.timeLeft - currentTime + previousTime, 0);
                        if ($scope.timeLeft === 0) {
                            clearInterval($scope.timer);
                            $rootScope.$broadcast('my:timerElapsed');
                        }

                        $scope.minutes = Math.floor($scope.timeLeft / 1000 / 60);
                        var s = Math.floor($scope.timeLeft / 1000 - $scope.minutes * 60);
                        if ((s + '').length <= 1) s = '0' + s;
                        $scope.seconds = s;
                    });
                }, 100);
            }
            
            function stopTimer()
            {
                clearInterval($scope.timer);
            }
        }
    </script>
}