@model Sketch.Core.ReadModel.DrawingSessionDetail
@{
    ViewBag.Title = "Summary";
}
<style>

</style>
<h2>Summary</h2>

@{
    var numberOfRows = (int)Math.Ceiling(Model.Photos.Count / 4d);
}
@for (int i = 0; i < numberOfRows; i++)
{
    <div class='row'>
        @foreach (var photo in Model.Photos.Skip(i * 4).Take(4))
        {
            <div class='col-md-3'>
                <div class="thumbnail">
                    <img src="@photo.OEmbed.ThumbnailUrl"
                         width="@photo.OEmbed.ThumbnailWidth"
                         height="@photo.OEmbed.ThumbnailHeight" />
                    <div class="caption">
                        <h3><a href="@photo.PageUrl" class="title">@photo.OEmbed.Title</a></h3>
                        by <a href="@photo.OEmbed.AuthorUrl" class="author-name">@photo.OEmbed.AuthorName</a>
                    </div>
                </div>
            </div>
        }
    </div>
}


